[submodule "Resources/grml-etc-core"]
	path = Resources/grml-etc-core
	url = git://git.grml.org/grml-etc-core.git
[submodule "Resources/ryanb"]
	path = Resources/ryanb
	url = http://github.com/ryanb/dotfiles.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/rvm.vim"]
	path = vim/bundle/rvm.vim
	url = https://github.com/csexton/rvm.vim.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-ruby-debugger"]
	path = vim/bundle/vim-ruby-debugger
	url = https://github.com/astashov/vim-ruby-debugger.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
